wsgi.py
Pipfile.lock
Pipfile
sp_monitor.ini
cloudflared.deb
__pycache__
sp_monitor_ENV
sumpPumpApp.sock
testFile.txt
urls_for_transfer.txt
sumppumpmonitor-6e852-firebase-adminsdk-pt2wb-009a409c70.json